.bg-title {
    background-color: #F1F1F1;
}

.bg-network {
    background-color: rgb(225, 244, 244);
}

.bg-hobbi {
    background-color: rgb(237, 246, 228);
}

.bg-work {
    background-color: rgb(233, 233, 244);
}

.bg-info {
    background-color: rgb(241, 235, 232);
}